@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Josefin+Slab:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html {
  font-size: 15px;
}

* {
  font-family: 'Barlow', sans-serif;
}

.App {
  background-image: url("../images/1440.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App {
    grid-template-columns: 65% 35%;
    background-position: left 51.3% bottom 0%;
    grid-template-rows: 50px 10fr 10fr 1fr;
    grid-template-areas: "  menu    head " "  content timePath" "  content timePath" "  foot    foot";
  }
}

@media screen and (min-device-width: 600px) and (max-width: 830px) {
  .App {
    grid-template-columns: 65% 35%;
    grid-template-rows: 50px 10fr 10fr 1fr;
    grid-template-areas: "  menu    head " "  content timePath" "  content timePath" "  foot    foot";
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: landscape) {
  .App {
    grid-template-rows: 50px 1fr 1fr 10%;
    grid-template-columns: 70% 30%;
    grid-template-areas: "  menu    head " "  content timePath" "  content timePath" "  foot    foot";
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App {
    grid-template-rows: 50px 10fr 10fr 1fr;
    grid-template-columns: 10% 65% 25%;
    grid-template-areas: " menu  head    head " " aside content timePath" " aside content timePath" " foot  foot        foot";
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 400px) and (orientation: landscape) {
  .App {
    grid-template-rows: 50px 5fr 5fr 10%;
    grid-template-columns: 70% 30%;
    grid-template-areas: "  menu    head " "  content timePath" "  content timePath" "  foot    foot";
  }
}

.App .menu {
  grid-area: menu;
  background-image: linear-gradient(90deg, #241168, rgba(0, 0, 0, 0.4));
  align-content: center;
  border: none;
  /* modrolava Button */
}

.App .menu .Btn:hover .list {
  display: block;
}

.App .menu .Btn #navButton {
  padding: 16px;
  margin-left: 20px;
  background-color: rgba(52, 20, 162, 0);
  color: #EB9602;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  position: relative;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .menu .Btn #navButton {
    padding: 16px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: landscape) {
  .App .menu .Btn #navButton {
    padding: 16px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .menu .Btn #navButton {
    padding: 16px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 400px) and (orientation: landscape) {
  .App .menu .Btn #navButton {
    padding: 16px;
  }
}

.App .menu .Btn #navButton:hover {
  color: #BA7A0B;
}

.App .menu .Btn #navButton:active {
  transform: scale(1.1);
}

.App .menu .Btn .list {
  display: none;
  left: 65px;
  position: absolute;
  background-color: rgba(235, 150, 2, 0.8);
  /*kolor list*/
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /*cień  + alfa*/
  z-index: 2;
}

.App .menu .Btn .list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.App .menu .Btn .list a:hover {
  background-color: rgba(237, 165, 40, 0.3);
}

.App .menu .Btn .list a:active {
  transform: scale(0.7);
}

.App .head {
  grid-area: head;
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.4), transparent);
  border: none;
  font-size: 20px;
  padding: 14px;
  text-align: center;
}

.App .head #loginBtn {
  background-color: rgba(52, 20, 162, 0);
  color: #EB9602;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) {
  .App .head #loginBtn {
    padding: 16px;
    right: 18%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .head #loginBtn {
    padding: 16px;
    right: 10%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .head #loginBtn {
    padding: 16px;
    right: 17%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 400px) and (orientation: landscape) {
  .App .head #loginBtn {
    padding: 16px;
    right: 6%;
  }
}

.App .head #loginBtn:active {
  transform: scale(1.1);
}

.App .timePath {
  grid-area: timePath;
  background-color: transparent;
  text-align: center;
  border: none;
}

.App .timePath .projects {
  font-size: 1rem;
  box-sizing: border-box;
  color: black;
}

.App .timePath .projects .titleStrip {
  background-image: linear-gradient(90deg, rgba(36, 17, 104, 0.1), rgba(36, 17, 104, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(36, 17, 104, 0.1));
  margin: 20px auto;
  padding-top: 1px;
  padding-bottom: 1px;
}

.App .timePath .projects .titleStrip .projectsTitle {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  color: #EB9602;
  padding-left: 35px;
}

@media screen and (min-device-width: 320px) and (max-width: 830px) {
  .App .timePath .projects .titleStrip .projectsTitle {
    font-size: .9rem;
    font-weight: 400;
    margin: 2%;
  }
}

.App .timePath .projects .projList {
  overflow: auto;
  margin: 0 25% 0 0%;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) {
  .App .timePath .projects .projList .TaS {
    font-size: 1.2em;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .timePath .projects .projList {
    height: 577px;
    margin: 20px 10%;
    width: 80%;
    font-size: 0.5rem;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    margin-top: 30px;
    height: 410px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    width: 70%;
  }
}

@media screen and (min-device-width: 600px) and (max-width: 830px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    font-size: 0.5rem;
    height: 515px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    height: 465px;
    margin: 0px 25% 0px 0%;
    font-size: 0.6rem;
  }
  .App .timePath .projects .projList .TaS {
    font-size: 1.2em;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    height: 150px;
    margin: 0px 0px 0px 12%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 800px) and (orientation: landscape) {
  .App .timePath .projects .projList {
    height: 505 px;
  }
}

.App .timePath .projects .projList div[id*="project"] {
  margin-bottom: 2%;
  padding: 10% 10%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.App .timePath .projects .projList div[id*="project"] a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}

.App .timePath .projects .projList div[id*="project"] a .theProject {
  background-color: rgba(255, 255, 255, 0);
  font-weight: 500;
}

.App .timePath .projects .projList div[id*="project"]:active {
  transform: scale(0.98);
}

.App .content {
  grid-area: content;
  background-color: rgba(36, 17, 104, 0);
  text-align: center;
  border: none;
  /* viev LoginForm  */
  /* view Title */
}

.App .content .LoginForm {
  position: fixed;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-device-width: 320px) and (max-width: 830px) {
  .App .content .LoginForm {
    left: 5%;
  }
}

@media screen and (orientation: landscape) {
  .App .content .LoginForm {
    left: 25%;
    top: 9%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .LoginForm {
    left: 35%;
    top: 15%;
  }
}

.App .content .LoginForm label {
  color: #BA7A0B;
}

.App .content .contact {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  width: 50%;
  position: fixed;
  left: 15%;
  bottom: 5%;
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: landscape) {
  .App .content .contact {
    margin: 60px auto;
    padding: 1%;
    font-size: 0.7rem;
    width: 20%;
    left: 14%;
    bottom: 15%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: portrait) {
  .App .content .contact {
    margin: 60px auto;
    font-size: 0.7rem;
    left: 9%;
    bottom: 0%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .contact {
    font-size: .8rem;
    width: 20%;
    left: 35%;
    padding: 1%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 400px) and (orientation: landscape) {
  .App .content .contact {
    margin: 60px auto;
    padding: 1%;
    font-size: 0.7rem;
    width: 20%;
    left: 13%;
    bottom: 10%;
  }
}

.App .content .contact p {
  padding: 5% auto;
}

.App .content .about,
.App .content .offer {
  font-size: 1rem;
}

.App .content .about .offerText,
.App .content .about .aboutText,
.App .content .offer .offerText,
.App .content .offer .aboutText {
  width: 65%;
  height: 650px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0px auto;
  padding: 10px 15%;
  text-align: justify;
  line-height: 1.5em;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
  width: 65%;
  height: 600px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: justify;
}

@media screen and (max-width: 830px) and (orientation: portrait) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    width: 65%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    width: 80%;
    font-size: 0.8em;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    width: 80%;
    font-size: 0.8em;
    height: 680px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: landscape) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    height: 510px;
    width: 60%;
    padding: 10px 10%;
    margin: 0 23%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    width: 65%;
    height: 610px;
    line-height: 1.6em;
    padding: 10px 12% 50px 12%;
    font-size: 1em;
    margin: 0px auto 0px 12%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .content .about .offerText,
  .App .content .about .aboutText,
  .App .content .offer .offerText,
  .App .content .offer .aboutText {
    height: 280px;
    margin: 0px 27% 0px 23%;
  }
}

.App .content .about .offerText .offerTitle,
.App .content .about .offerText .aboutTitle,
.App .content .about .aboutText .offerTitle,
.App .content .about .aboutText .aboutTitle,
.App .content .offer .offerText .offerTitle,
.App .content .offer .offerText .aboutTitle,
.App .content .offer .aboutText .offerTitle,
.App .content .offer .aboutText .aboutTitle {
  font-size: 1.3rem;
  padding-top: 0px auto;
  margin-top: 20px auto;
  color: black;
}

@media screen and (orientation: portrait) {
  .App .content .about .offerText .offerTitle,
  .App .content .about .offerText .aboutTitle,
  .App .content .about .aboutText .offerTitle,
  .App .content .about .aboutText .aboutTitle,
  .App .content .offer .offerText .offerTitle,
  .App .content .offer .offerText .aboutTitle,
  .App .content .offer .aboutText .offerTitle,
  .App .content .offer .aboutText .aboutTitle {
    font-size: 1rem;
  }
}

.App .content .about .offerText .txt,
.App .content .about .aboutText .txt,
.App .content .offer .offerText .txt,
.App .content .offer .aboutText .txt {
  text-indent: 2em;
  display: inline-block;
}

.App .content .about .offerText .txt::first-letter,
.App .content .about .aboutText .txt::first-letter,
.App .content .offer .offerText .txt::first-letter,
.App .content .offer .aboutText .txt::first-letter {
  font-size: 2.1em;
  font-weight: 700;
}

.App .content .Container {
  margin: 80px 2% 0px 10%;
}

.App .content .Container article {
  font-size: 1rem;
  width: 80%;
  height: 610px;
  overflow: auto;
  text-align: left;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0% 0% 0% 10%;
  padding: 5% 10%;
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .Container article {
    margin: 30px auto;
    border-radius: 2px;
    width: 60%;
    height: 500px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article {
    margin: 30px auto;
    font-size: 0.8rem;
    border-radius: 3px;
    width: 80%;
    height: 630px;
  }
}

@media screen and (min-device-width: 600px) and (max-width: 830px) and (orientation: landscape) {
  .App .content .Container article {
    font-size: 0.6em;
    width: 60%;
    height: 490px;
  }
  .App .content .Container article .program,
  .App .content .Container article .links,
  .App .content .Container article .cast {
    text-align: left;
    margin-bottom: 30px;
  }
}

@media screen and (min-device-width: 600px) and (max-width: 830px) and (orientation: landscape) and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .Container article {
    margin: 80px 2% 0px 10%;
  }
}

@media screen and (min-device-width: 600px) and (max-width: 830px) and (orientation: landscape) {
  .App .content .Container article .cast .performer {
    line-height: .5em;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .content .Container article {
    margin: 30px auto;
    border-radius: 3px;
    height: 200px;
    margin: 0% 0% 0% 10%;
  }
}

.App .content .Container article .timeAndSpace p {
  margin-bottom: 30px;
  text-align: left;
  font-size: 0.9em;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .timeAndSpace p {
    font-size: 0.7em;
  }
}

.App .content .Container article .projectName {
  margin: auto;
}

.App .content .Container article .projectName #projectHeader {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .projectName #projectHeader {
    font-size: 0.9em;
  }
}

.App .content .Container article .projectName #sessionHeader {
  text-align: center;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .projectName #sessionHeader {
    font-size: 0.7em;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .program .perfoHeader {
    font-size: 0.7em;
  }
}

.App .content .Container article .program .pieceTitle {
  font-weight: 500;
}

.App .content .Container article .program p {
  font-size: 1em;
}

.App .content .Container article .program p .piece {
  font-size: 0.8em;
}

.App .content .Container article .program p .piece em {
  font-size: 1.3em;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .links p#linksHeader {
    font-size: 0.7em;
  }
}

.App .content .Container article .links .link a {
  text-decoration: none;
  /* color:#BA7A0B; */
  color: blue;
}

.App .content .Container article .cast p .castHeader {
  line-height: .5em;
  font-size: 0.9em;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .cast p .castHeader {
    font-size: 0.2em;
  }
}

.App .content .Container article .cast .performer {
  line-height: 2em;
  font-weight: 500;
  font-size: 1em;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .Container article .cast .performer {
    font-size: .7em;
  }
}

.App .content .Container article .memo {
  text-indent: 1em;
  margin: 30px;
  text-align: justify;
}

.App .content .Container article .memo em {
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1em;
}

.App .content .Container article .memo p::first-letter {
  font-size: 2.1em;
  font-weight: 700;
}

.App .content .CV_select {
  background-color: rgba(175, 196, 135, 0);
  border-radius: 5px;
}

.App .content .CV_select .choose {
  display: inline;
  text-align: center;
  padding-bottom: 20px auto;
}

.App .content .CV_select .choose .cvTitle {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .CV_select .choose .cvTitle {
    margin-top: 40px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .CV_select .choose .cvTitle {
    margin-top: 20px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (max-height: 400px) and (orientation: landscape) {
  .App .content .CV_select .choose .cvTitle {
    margin-top: 5px;
  }
}

.App .content .CV_select .choose #select {
  color: white;
  font-weight: 500;
  border: none;
  background-color: rgba(175, 196, 135, 0);
}

.App .content .CV_select .choose #select li[role="option"] {
  color: #3513A1;
}

.App .content .CV_select .CV {
  font-size: 1rem;
  width: 60%;
  overflow: auto;
  padding-bottom: 20px;
  margin: 5px auto;
}

@media screen and (min-device-width: 320px) and (max-width: 1550px) {
  .App .content .CV_select .CV {
    height: 240px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: portrait) {
  .App .content .CV_select .CV {
    height: 200;
    width: 80%;
  }
}

@media screen and (max-width: 830px) {
  .App .content .CV_select .CV {
    font-size: 0.8rem;
    width: 60%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .content .CV_select .CV {
    height: 470px;
    width: 80%;
  }
}

@media screen and (max-width: 830px) and (orientation: portrait) {
  .App .content .CV_select .CV {
    width: 80%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .content .CV_select .CV {
    height: 180px;
    margin: 0px 25%;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content .CV_select .CV {
    height: 180px;
    width: 55%;
    margin: 10px 4% 0px 26%;
  }
}

.App .content .CV_select .CV .property {
  text-align: left;
  border-radius: 2px;
  padding: 1%;
  margin: 2%;
  color: black;
  word-wrap: "break-word";
}

.App .content .CV_select .CV .property div:first-child {
  font-weight: 900;
  font-size: 1em;
  text-align: left;
}

.App .content .CV_select .CV .property div.links p {
  font-size: 0.7em;
  font-weight: 500;
}

.App .content .CV_select .CV .property div.links .linkList .linkBox a {
  text-decoration: none;
}

.App .content .CV_select .CV .property div[id*="obj"] {
  padding: 10px;
  margin: 10px;
  color: black;
  word-wrap: "break-word";
}

.App .content .CV_select .CV .property div[id*="obj"] .item {
  font-size: 0.7em;
}

.App .content .CV_select .CV .property div[id*="obj"] .composers,
.App .content .CV_select .CV .property div[id*="obj"] .performers,
.App .content .CV_select .CV .property div[id*="obj"] .skills,
.App .content .CV_select .CV .property div[id*="obj"] .frameworks,
.App .content .CV_select .CV .property div[id*="obj"] .modules,
.App .content .CV_select .CV .property div[id*="obj"] .libraries,
.App .content .CV_select .CV .property div[id*="obj"] .intentions,
.App .content .CV_select .CV .property div[id*="obj"] .use,
.App .content .CV_select .CV .property div[id*="obj"] .useEnv,
.App .content .CV_select .CV .property div[id*="obj"] .DAW,
.App .content .CV_select .CV .property div[id*="obj"] .current,
.App .content .CV_select .CV .property div[id*="obj"] .instruments {
  font-size: 0.7em;
  font-weight: 500;
}

.App .content .CV_select .CV .property div[id*="obj"] p[id*="email"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="mobile"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="city"] {
  font-size: 0.8em;
}

.App .content .CV_select .CV .property div[id*="obj"] p[id*="employer"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="school"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="department"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="course"],
.App .content .CV_select .CV .property div[id*="obj"] [id*="lingua"] {
  font-style: italic;
  font-weight: 500;
  font-size: 1em;
}

.App .content .CV_select .CV .property div[id*="obj"] p[id*="department"] {
  font-size: 0.8em;
}

.App .content .CV_select .CV .property div[id*="obj"] p[id*="period"],
.App .content .CV_select .CV .property div[id*="obj"] p[id*="withinYears"] {
  font-size: 0.9em;
}

.App .content .CV_select .CV .property div[id*="obj"] p[id*="workplace"] {
  font-size: 0.8em;
}

.App .content .CV_select .CV .property div[id*="obj"] [id*="level"] {
  font-size: 0.8em;
}

.App .content #recordings {
  text-align: left;
  border-radius: 2px;
  padding: 1%;
  margin: 40px auto;
  color: black;
  word-wrap: "break-word";
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  height: 500px;
  overflow: auto;
}

.App .content #recordings div[id*="obj"] {
  padding: 10px;
  margin: 10px;
  color: black;
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .content #recordings {
    font-size: .8rem;
    height: 213px;
    width: 60%;
    margin: 40px 25% auto 25%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (orientation: portrait) {
  .App .content #recordings {
    font-size: 0.7rem;
    margin: 60px auto;
    height: 597px;
  }
}

@media screen and (min-device-width: 830px) and (max-width: 1550px) and (orientation: landscape) {
  .App .content #recordings {
    height: 536px;
    width: 55%;
    margin: 40px 4% 0px 26%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  .App .content #recordings {
    height: 213px;
    font-size: 0.8rem;
  }
  .App .content #recordings div[id*="obj"] p {
    margin: 3px 0px;
  }
}

.App .content #recordings div.links p {
  font-size: 0.7em;
  font-weight: 500;
}

.App .content #recordings div.links .linkList .linkBox a {
  text-decoration: none;
}

.App .foot {
  grid-area: foot;
  background-color: transparent;
  color: #BA7A0B;
  border: none;
  font-size: 0.7rem;
  align-content: center;
  position: relative;
  left: 20px;
}

@media screen and (min-device-width: 320px) and (max-width: 600px) and (orientation: portrait) {
  .App .foot .footer {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 15%;
  }
}

.App .aside {
  grid-area: aside;
  background-color: transparent;
  border: none;
}
