@keyframes fadeIn {


    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes shine {

    from {
        background-position: 0 0;
    }

    to {
        background-position: calc(100% + 50px);
    }


}


@keyframes animacja {
    0% {
        margin-left: 0;
        background: dodgerblue
    }

    25% {
        margin-left: 5%;
        background: crimson
    }

    50% {
        margin-left: 15%;
        background: darkorange
    }

    75% {
        margin-left: 30%;
        background: limegreen
    }

    100% {
        margin-left: 60%;
        background: darkgreen
    }
}


.myLoader {

    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    opacity: 0;
    transition: opacity 1s ease;

    &:before {

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 120%;
        transform: rotate(-30deg);
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 80%);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100px 100%;
        //animation-name: animacja ;
        //animation: 15s infinite linear;
        animation: shine 5s ease 1s infinite alternate none;
    }
}